.header__container {
  display: flex;
  box-shadow: 1px 3px 10px rgba(0,0,0,.3);
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 3;
}
.header__link {
  color: #fff;
}
.header__link.open, .header__link.header__link.open:hover {
  color: #fff;
}

.header__link:hover {
  text-decoration: none;
  color: #fff;
}
.header__btn-hamburguer {
  width: 40px;
  height: 30px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.header__btn-hamburguer.open {
  z-index: 2;
}
.header__btn-hamburguer.open .line {
  background: #fff;
}
.header__btn-hamburguer .line {
  width: 100%;
  height: 6px;
  border-radius: 10px;
  background: #fff;
}
.header__btn-hamburguer.open .line:first-child {
  animation-name: firstLine;
}
.header__btn-hamburguer.open .line:last-child {
  animation-name: lastLine;
}
.header__btn-hamburguer.open .line:nth-child(2) {
  animation: disappear 0ms ease-in-out 250ms forwards;
}
.header__btn-hamburguer.btn-close .line:first-child {
  animation-name: firstLineReverse;
}
.header__btn-hamburguer.btn-close .line:last-child {
  animation-name: lastLineReverse;
}
.header__btn-hamburguer.btn-close .line:nth-child(2) {
  animation: appear 500ms ease-in-out forwards;
}
.header__btn-hamburguer .line:first-child,
.header__btn-hamburguer .line:last-child {
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.header__overlay {
  position: fixed;
  background: #6CA7F7;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
}
.header__overlay.open {
  opacity: .9;
  height: 100%;
  z-index: 2;
}
.header__overlay.open li {
  animation: fadeInRight .5s ease forwards;
  animation-delay: .35s;
}
.header__overlay.open li:nth-of-type(2) {
  animation-delay: .4s;
}
.header__overlay.open li:nth-of-type(3) {
  animation-delay: .45s;
}
.header__overlay.open li:nth-of-type(4) {
  animation-delay: .50s;
}
.header__overlay .header__overlay-menu {
  position: relative;
  height: 70%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  font-family: 'Varela Round', serif;
  font-weight: 400;
  text-align: center;
}
.header__overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.header__overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.header__overlay ul li a {
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
}
.header__overlay ul li a:hover:after, .header__overlay ul li a:focus:after, .header__overlay ul li a:active:after {
  width: 100%;
}
.header__overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  transition: .35s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@keyframes firstLine {
  0% {
    transform: translateY(0) rotate(0);
  }
  25% {
    transform: translateY(10px) rotate(0);
  }
  75% {
    transform: translateY(10px) rotate(0);
  }
  100% {
    transform: translateY(10px) rotate(45deg);
  }
}

@keyframes firstLineReverse {
  0% {
    transform: translateY(10px) rotate(45deg);
  }
  25% {
    transform: translateY(10px) rotate(0);
  }
  75% {
    transform: translateY(10px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes lastLine {
  0% {
    transform: translateY(0) rotate(0);
  }
  25% {
    transform: translateY(-14px) rotate(0);
  }
  75% {
    transform: translateY(-14px) rotate(0);
  }
  100% {
    transform: translateY(-14px) rotate(-45deg);
  }
}

@keyframes lastLineReverse {
  0% {
    transform: translateY(-14px) rotate(-45deg);
  }
  25% {
    transform: translateY(-14px) rotate(0);
  }
  75% {
    transform: translateY(-14px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}